$black: #000;
$white: #fff;

$primary: #f2992e;
$secondary: #181818;
$accent: #fff13e;

$linkBackgroundColor: orange;
$linkColor: #333;
$linkColorInverted: $white;

$spacing-unit: 6px;
$spacing-unit-16: 16px;
$spacing-unit-36: 36px;

$breakpointXs: 290px;
$breakpointLg: 600px;

$logo-size: 100px;
